{% extends "store/base.html" %}
{% block content %}
    <h1>Checkout Success</h1>

    <h3>Your order detail</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>${{ item.get_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ cart_total }}</h3>
{% endblock %}
